@import "tailwindcss";

:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  background-color: #f1f5f9; /* slate-100 */
  color: #0f172a;            /* slate-900 */
}

body {
  margin: 0;
}
